.editor{
    position: absolute;
    bottom: 40%;
    width: 40%;
    left: 33%;
    top: -3%;
}

.e-trash{
    text-align: left;
    background-color: white;
    border: none;
}

.e-save{
    color: #fff;
    border-color: #00a82d;
    background-color: #00a82d;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 4px;
    text-align: center;
    font-family: sans-serif;
    line-height: 1;
    cursor: pointer;
}

.quill-top{
    // display: flex;
    // justify-content: space-between;
    // flex-direction: row;
}

.e-div-top{
    margin-left: 270%;
    display: flex;
    align-items: right;
    // padding-top: 40px;
    margin-bottom: -15%;
}

.e-form{
    margin-left: 30px;
}

.footer{
    height: 50px;
    border-top: 1px solid #ececec;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 74%;
    margin-left: -14%;
    width: 500%;

}

.footer-form{
    display: flex;
    align-items: left;
}

.e-tag{
    background-color: white;
    border: none;
    color: #777;
    display: flex;
    justify-content: space-between;
}

.e-input{
    background-color: white;
    border: none;
    box-shadow: none;
}

// .note-title {
//     margin-bottom: 10%;
// }

.quill-div{
    margin-top: -30%;
    padding-top: 20px;
}

.quill-body{
    width: 340%;
    height: 500px;
    margin-top: -20%;
    padding-top: 10%;
}

.inside-tag{
    background-color: white;
    border: none;
    padding-right: -40%;
}

.tag-editor{
    margin-top: 14px;
    // margin-left: -20%;
}