.e-trash{
    text-align: left;
    background-color: #f7f7f7;
    border: none;
}

.e-save{
    border: none;
    background-color: #f7f7f7;
}

.e-div-top{
    margin-left: 78%;
    display: flex;
    align-items: right;
}

.e-form{
    margin-left: 30px;
}

.footer{
    height: 50px;
    border-top: 1px solid #ececec;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 65%;
}

.footer-form{
    display: flex;
    align-items: left;
}

.e-tag{
   background-color: #f7f7f7;
    border: none;
    color: #777;
}

.e-input{
    background-color: #f7f7f7;
    border: none;
    box-shadow: none;
}