// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notebook-container h2{
    flex: 1;
    min-width: 200px;
    font-size: 20px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    text-align: left;
    margin-top: 30px;
}

.notebook-container .nb-navbar{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nb-navbar p{
    font-size: 15px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

.move-right{
    margin-right: 3%;
    height: 20px;
    width: 50px;
    border: none;
    margin-top: 14px;
    background-color:white;
}

.move-center{
    margin-left: 57em;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #00a82d;
    padding: 0;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
}

table{
    width: 100%;
    height: 100%;
    border-top: 2px soild black;
}

thead {
   background: #f8f8f8;
   font-size: 12px;
   line-height: 40px;
   color: #b3b3b3;
}

.head{
      border-top: 1px solid black;
}

.fa-arrow-up{
    margin-left: 10px; 
}

.title{
    width: 28%;
    text-align: left;
    padding-left: 10px;
}
th{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto','Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

.nb-name{
    width:38%;
}

.nb-name0{
    width: 30%;
}

.nb-create{
    width: 16%;
}

.nb-update{
    width: 19%;
}

.nb-only{
    width: 14%;   
}

.nb-name,
.nb-create,
.nb-update,
.nb-only {
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto','Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

.nb-create,
.nb-update,
.nb-only{
    color: #777;
}

.list-name {
    color: #ccc;
    cursor: pointer;
    // justify-content: space-between;
    overflow: hidden;
}

.nb-u button{
    background-color: white;
    border: none;
    padding-left: 50px; 
}

.nb-name .fa-caret-right, .car{
    color: #777;
}


.w3-border{
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
    0 4px 12px rgba(27, 39, 51, .08);
    text-align: left;
    list-style: none;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    left: 86%;
}
