// Place all the styles related to the api/Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-index{
    display: grid;
    margin-left: 20%;
    min-width: 100%;
    height: 100%;
    overflow: scroll;
}

.tags_index h2{
    min-width: 200px;
    font-size: 20px;
    color: #333;
    white-space: nowrap;
    padding-right: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

.tag-header{
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 200px;
    font-size: 20px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.tag_index{
    position: relative;
}

.tag-letter{
    margin-bottom: 9px;
    font-size: 15px;
    color: #333;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}

.tags_lists {
    border-top: 2px solid #5b6b70;
    padding: 25px 0;
    background-repeat: no-repeat;
    box-sizing: inherit;
    width: 75%;
}

.tag-name{
    cursor: pointer;
    line-height: 24px;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

.tag-trash{
    background-color: white;
    border: none;
    cursor: pointer;
}

.tag-links{
    display: flex;
}