
.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.nav-left .eton-logo{
    width: 55px;
    height: 55px;
    margin-top: 6%;
}

.nav-left h1{
    font-family: 'Andada';
    -webkit-font-smoothing: antialiased;
    margin: 20px 0 0 10px;
}

.nav-right{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: 5%;
}

.e-links, .or{
    margin-right: 25%;
    padding-bottom: 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: "Soleil",
    Helvetica,
    Arial,
    sans-serif;
    -webkit-font-smoothing: antialiased;
}

.e-links{
    color: #00a82d;
    cursor: pointer;
}

.signup-link{
    padding-bottom: 12px;
}

.login-link{
    border: 2px solid #00a82d;
    padding: 5px 36px;
    border-radius: 2px;;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-bottom: 3px;
}

.or{
    margin-bottom: 10px;
    padding-bottom: 3px;
    // font-family: 'Alegreya Sans';
}

.eton_home_bg {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-color: #00a82d;
    
}

.content{
    color: #fff;
    font-family: "Soleil",
    Helvetica,
    Arial,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    box-sizing: border-box;
    width: 50%;
}

.eton_home_bg h2{
    font-size: 56px;
    line-height: 72px;
    padding: 0 40px 0 0;
    font-weight: bold;
    position: absolute;
    margin-top: 90px;
    left: 130px;
}

.eton_home_bg p{
    font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 35px;
    box-sizing: border-box;
    position: absolute;
    top: 250px;
    left: 130px;
}

.home-btn{
    background-color: #fff;
    color: #00A82D;
    font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-width: 240px;
    text-transform: uppercase;
    box-sizing: border-box;
    position: absolute;
    top: 440px;
    left: 130px;
    padding: 20px;
    border-radius: 3px;
    transition: .3s background ease-in-out;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
}




